*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.message{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	margin-top: 10px;
	text-shadow: 2px 2px 2px #ccc;
}

.form-error-message{
	color: red;
	font-size: 14px;
}

.overlay{
	background-color: #93e1d873;
    position: absolute;
    left: 15px;
    right: 134px;
    right: 15px;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.loading-img{
	height: 100px;
	width: 100px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}